// All of your custom SCSS variables go first

$primary: #7D61C8;
$secondary: #ffffff;
$light: #f1f1f1;
$midlight: #eee;
$dark: #000000;
$pink: #fb5597;
$yellow: #ffd900;
$purple: #8753de;
$green: #32a932;
$teal: #00acac;
$cyan: #49b6d6;
$gray: #6c757d;
$gray-dark: #343a40;
$dark-darker: #1a2229;
$bgdark: #202124; //then bootstrap & bootstrap-vue should be added after 
$body-bg: $bgdark;
$body-color: $light;
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import '_typography.scss';

html,
body {
    background-color: $bgdark !important;
}

h2,
h3,
h4 {
    color: $midlight !important;
}

.dropdown-menu {
    background-color: $bgdark !important;
}